// App Styles

// Fonts
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');

// Variables
$max-app-width: 80rem;
$easing-overshoot: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$overpass: 'Overpass Mono', monospace;
$teal: #07eff3;
$yellow: #eef46e;
$red: #d70e2f;
$lime: #8bd76b;
$pink: #f54768;
$grey: #555;
$darkgrey: #111;
$white: #fff;
$black: #000;

// Helpers
@import 'helpers/mixins';
@import 'helpers/range';

// Components
@import 'components/app';
@import 'components/controls';
@import 'components/playlist';
@import 'components/search';
@import 'components/titlebar';
