@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

// Vars

$crimson: #dc143c;
$aqua: aquamarine;
$grey: #999;
$smoke: #eee;
$smoke-light: rgb(245, 245, 245);

// Mixins

@mixin plain-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin column-setup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;

  > * {
    flex: 1;
    outline: 1px solid #eee;
    padding: 1rem 2rem;
  }
}

// App

:root {
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
}

#app {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

// Base

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: $crimson;
}

// Title Bar

.titlebar {
  text-align: center;

  h1 {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $grey;
    letter-spacing: 0.25rem;
  }
}

// Search

.search {
}

.search__form {
}

.search__field {
  display: block;
  width: 100%;
  border: 1px solid $smoke;
  background-color: $smoke-light;
  border-radius: 2rem;
  padding: 2rem;
}

// Playlist

.playlist {
  margin: 2rem 0;
}

.playlist__header {
  ul {
    @include plain-list;
    @include column-setup;
  }
  li {
    padding: 0;
  }
  a {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;

    i {
      margin-left: auto;
    }

    &.is-active {
      background-color: $aqua;
    }
  }
}

.playlist__content {
  ul {
    @include plain-list;
  }
}

.playlist__item-details {
  @include column-setup;
}

// Misc

.instructions {
  font-size: 1.3rem;
  color: $grey;
  margin: 4rem 0 0 0;
  padding: 2rem 0 0 0;
  border-top: 1px solid $smoke;
}
